{# Avondhoofdstuk: een snoer warme lichtjes langs de bovenrand, een paar sneeuwkristallen en kaarslicht van onderen. #}
<div class="gn-avond" aria-hidden="true">
  <svg class="gn-avond__snoer" viewBox="0 0 600 60" focusable="false">
    <path class="gn-avond__draad" d="M0 8Q75 40 150 18T300 18T450 18T600 8"/>
    <g class="gn-licht" style="--d:0s"><circle class="gn-licht__gloed" cx="40" cy="20" r="13"/><circle class="gn-licht__kern" cx="40" cy="20" r="2.8"/></g>
    <g class="gn-licht" style="--d:-1.4s"><circle class="gn-licht__gloed" cx="110" cy="30" r="13"/><circle class="gn-licht__kern" cx="110" cy="30" r="2.8"/></g>
    <g class="gn-licht" style="--d:-2.8s"><circle class="gn-licht__gloed" cx="190" cy="22" r="13"/><circle class="gn-licht__kern" cx="190" cy="22" r="2.8"/></g>
    <g class="gn-licht" style="--d:-.7s"><circle class="gn-licht__gloed" cx="262" cy="20" r="13"/><circle class="gn-licht__kern" cx="262" cy="20" r="2.8"/></g>
    <g class="gn-licht" style="--d:-3.6s"><circle class="gn-licht__gloed" cx="338" cy="20" r="13"/><circle class="gn-licht__kern" cx="338" cy="20" r="2.8"/></g>
    <g class="gn-licht" style="--d:-2.1s"><circle class="gn-licht__gloed" cx="410" cy="22" r="13"/><circle class="gn-licht__kern" cx="410" cy="22" r="2.8"/></g>
    <g class="gn-licht" style="--d:-4.4s"><circle class="gn-licht__gloed" cx="490" cy="30" r="13"/><circle class="gn-licht__kern" cx="490" cy="30" r="2.8"/></g>
    <g class="gn-licht" style="--d:-1s"><circle class="gn-licht__gloed" cx="560" cy="20" r="13"/><circle class="gn-licht__kern" cx="560" cy="20" r="2.8"/></g>
  </svg>
  <svg class="gn-kristal gn-kristal--1" viewBox="0 0 40 40" focusable="false">{% include "golden-noel/v1/_kristal.svg" %}</svg>
  <svg class="gn-kristal gn-kristal--2" viewBox="0 0 40 40" focusable="false">{% include "golden-noel/v1/_kristal.svg" %}</svg>
  <svg class="gn-kristal gn-kristal--3" viewBox="0 0 40 40" focusable="false">{% include "golden-noel/v1/_kristal.svg" %}</svg>
</div>
